* {
  box-sizing: border-box;
}

body {
  font-family: 'Quicksand', sans-serif;
  font-size: 16px;
  margin: 10px;
  padding: 10px;
}


.container {
  max-width: 970px;
  margin: 0 auto;
}

nav {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}

nav img {
  width: 250px;
  height: 75px;
  transition: all .5s;
}

nav img:hover {
  opacity: .5;
}

nav a {
  color: #000000;
  text-decoration: none;
  transition: all .2s;
}

nav a:hover{
  color: #16b793;
  text-decoration: underline;
}

ul.nav {
  list-style: none;
  padding: 10px;
  font-weight: bold;
}

ul.nav li {
  display: inline;
  margin-right: 30px;
}

nav.project-page {
  margin-bottom: 20px;
}

.main-image img {
  width: 100%;
  margin: 20px 0px;
}

.about {
  width: 95%;
  margin: 0 auto;
  text-align: center;
}

.my-work {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

h1 {
  font-size: 3em;
  font-weight: 700;
  margin-bottom: 20px;
  color: aquamarine;
  text-transform: uppercase;
}

h2 {
  font-weight: 700;
  font-style: italic;
  font-size: 1.3em;
  margin: 20px 0;
  color: aquamarine;
}

h3 {
  font-size: 2em;
  font-weight: 700;
  margin-bottom: 20px;
}

h4 {
  font-size: 1em;
  font-weight: 700;
  margin-bottom: 20px;
}

h5 {
  font-size: 1em;
  font-weight: 700;
  padding-bottom: 20px;
}


a {
  text-decoration: none;
  font-size: 1em;
  color: teal;
}

a:hover {
  text-decoration: underline;
}

p {
  margin: 10px 0px;
  line-height: 1.3em;
  font-size: 1em;
  color: #242424;
}

.about,
.my-work {
  margin-bottom: 50px;
}

.about span {
  font-weight: 700;
}

.my-work h2 {
  margin-bottom: 20px;
}

.my-work a {
  transition: all .2s;
  color: #242424;
}

.my-work a:hover {
  color: teal;
}

.row {
  overflow: auto;
}

.col {
  width: 100%;
  padding: 10px;
}

.col img {
  transition: all .9s;
  margin: 10px 0px;
}

.col img:hover {
  opacity: .5;
}

.slideshow-image {
  height: 340px;
  width: 730px;
  margin: 0 auto;
}

.slideshow-image img {
  position: absolute;
  height: 340px;
  width: 730px;
  display: none;
}

.slideshow-button {
  margin: 0 auto;
}

.slideshow-button img {
  height: 30px;
  width: 30px;
  margin-top: 20px;
  transition: all .3s;
}

.slideshow-button img:hover {
  opacity: .5;
}

.gallery-sub-page {
  margin: 50px 20px 50px 20px;
  text-align: center;
}

img {
  width: 100%;
}


footer {
  text-align: center;
  padding: 30px;
  background-color: #242424;
}

footer p {
  color: #fff;
  font-size: 1em;
  font-weight: 700;
}

@media all and (min-width: 600px){
  nav {
    max-width: 970px;
    height: 75px;
  }

  nav img {
    float: left;
  }

  ul.nav {
    float: right;
    margin-top: 20px;
  }
}

@media all and (min-width: 780px) {
  .col {
    width: 33.33%;
    float: left;
    padding: 15px 25px 15px 15px;
  }

  .col:last-of-type{
    border: none;
  }
}
